 body{
	background-repeat:no-repeat;
	background-size:200px;
    font-family: Arial, Verdana, sans-serif;
    margin:0;
    padding:0;
 }
  
 
 input,label {
 	display: block;
 }
 
 
 h1 {
 	font-size:2em;
 	color: purple;
 }
 
 h2{
 	font-size:1em;
 	color: #990033;
 }

 #header{
    font-size:12px;
	width: 100%;
	height: 75px;
	clear: both;
	border:1px solid purple;
	background-image: url(../images/background.jpg);
 }
 
 #header > h1 {
 		text-align:center;
		text-shadow: 2px 2px white;
 }
 
 #nav{
 	padding: 5pt;
	position: absolute;	
	width:130px;
	height: 800px;
	font-size: 10pt;
    border:1px solid purple;
    background: pink;
	float: left;
 }
 
 #main{
	margin-left:160px;
    width:540px;
    height:800px;
	background: white;
 }
 
 #errormsg > p{
 	color: red;
 }
 
 #incart{
 	width: 75px;
	height: 75px;
}

@media print {
   .noprint { display: none; }
}

